nav a:nth-child(2) {
	text-decoration: underline;
	color: #21552a;
	cursor: default;
}
header h1 {
	margin: 0 auto;
	padding-top: 75px;
	padding-bottom: 15px;
}
.container {
	background-color: white;
	padding-bottom: 75px;
}
header,
main {
	max-width: 1117px;
	margin: 0 auto;
	padding: 0 30px;
}
.about {
	display: flex;
	flex-wrap: wrap;
	gap: 60px;
	justify-content: space-between;
	padding: 0 0px;
}
.about-detail:nth-child(1),
.about-detail:nth-child(3) {
	width: 455px;
}
.about-detail:nth-child(2),
.about-detail:nth-child(4) {
	max-width: 600px;
}
.about-detail:nth-child(3) {
	text-align: center;
}
.about-detail:nth-child(4) {
	padding-top: 40px;
}
.museum img {
	max-width: 600px;
}
h3 {
	margin-top: 80px;
	margin-bottom: 0;
}
.get-involved {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.involved {
	max-width: 300px;
	padding: 0 10px;
}
.involved h4 {
	margin-bottom: 0;
}
.involved p {
	margin-top: 5px;
}
.thumbs-up {
	text-align: center;
	margin: 50px 0;
}
@media only screen and (max-width: 990px) {
	h1 {
		text-align: center;
	}
	.about {
		justify-content: center;
	}
	.get-involved {
		justify-content: center;
	}
	.involved {
		flex-wrap: wrap;
	}
	.about-detail img,
	.thumbs-up img {
		max-width: 100%;
	}
}
